.movieListWrapper{
  display: flex;
  justify-content: center;
}
.movieList{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movieWrapper{
  background-color: black;
  width: 100%;
  padding: 20px;
  display: flex;
}

.pictureFrame{
  background-image: url("https://m.media-amazon.com/images/M/MV5BMjIxOTI0MjU5NV5BMl5BanBnXkFtZTgwNzM4OTk4NTE@._V1_SX300.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 12%;
  height: inherit;
}

.firstRow{
  width: 44%;

  background-color: green;
  margin:0px 10px;
}
.secondRow{
  width: 44%;
  background-color: white;
}
