<div class="movieListWrapper">
  <div class="movieList">
    <div class="movieWrapper">
      <div class="pictureFrame"></div>
      <div class="firstRow">
        <ul>
          <li> {{Title}}</li>
          <li> {{Type}}</li>
          <li> {{Year}}</li>
          <li> {{Rated}}</li>
          <li> {{Genre}}</li>
        </ul>
      </div>
      <div class="secondRow">
        <ul>
          <li> {{Director}}</li>
          <li> {{Actors}}</li>
          <li> {{Plot}}</li>
          <li> {{Awards}}</li>
          <li> vijf</li>
        </ul>
      </div>
    </div>
  </div>
</div>
