.mainBackground {
  background-color: white;
  width: 100%;
  height: 100%;
}

.bodyWrapper {
  display: flex;
  padding: 20px;
}

.movieWrapper{
  display: flex;
}

.movieWrapper:nth-child(1){
  margin-right: 20px;
}

.poster {
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
}

.list {
  background-color: #edededed;
  width: 450px;
  padding: 20px 40px 20px 40px;

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  .plot{
    max-height: 170px;
    overflow: auto;
  }

  .plotButton{
    color: red;
  }
  .plotButton:hover{
    cursor: pointer;
  }
}
