<div class="mainBackground">
  <div class="bodyWrapper">
    <div class="movieWrapper" *ngIf="$selectedMovie | async; let sMovie">
      <div class="poster" [style.background-image]="'url(' + sMovie.Poster + ')'"></div>
      <div class="list">
        <ul>
          <li>Title: {{sMovie.Title}}</li>
          <li>Year: {{sMovie.Year}}</li>
          <li>Awards: {{sMovie.Awards}}</li>
        </ul>
        <div class="plot">
          <h3>Plot: </h3>
          {{sMovie.Plot}}
        </div>
      </div>
    </div>
    <div class="movieWrapper" *ngIf="$predefinedMovie | async; let pMovie">
      <div class="poster" [style.background-image]="'url(' + pMovie.Poster + ')'"></div>
      <div class="list">
        <ul>
          <li>Title: {{pMovie.Title}}</li>
          <li>Year: {{pMovie.Year}}</li>
          <li>Awards: {{pMovie.Awards}}</li>
        </ul>
        <div class="plot">
          <h3>Plot: </h3>
          {{pMovie.Plot}}
        </div>
      </div>
    </div>
  </div>
</div>



